@use '../variables' as *;

.layout__bottombar {
  .layout-bottombar-mobile {
    .navigation-scroll-container {
      display: flex;
      height: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding: 0 160px;
      gap: 16px;

      &::-webkit-scrollbar {
        display: none;
      }

      .navigation-item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        cursor: pointer;
        scroll-snap-align: center;
        .icon-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

          i {
            font-size: 18px;
            margin-bottom: 4px;
            transition: all 0.3s ease;
            color: var(--text-secondary);
          }

          span {
            font-size: 10px;
            color: var(--text-secondary);
            text-transform: lowercase;
            transition: all 0.3s ease;
            white-space: nowrap;
          }
        }

        &:active .icon-wrapper {
          transform: scale(0.9);
        }

        &.active {
          .icon-wrapper {
            transform: scale(1.2);
            opacity: 1;
            color: var(--text-secondary);
          }
        }

        &:not(.active) .icon-wrapper {
          opacity: 0.6;
        }
      }
    }
  }
}
